html {
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 60px;
	text-align: center;
	text-shadow: 1px 1px 10px black;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {
	background-color: #728C8C;
}

img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#nav {
	text-align: center;
	width: 90%;
	margin: 1%;
	background-color: #efefef;
	padding: 0.5em 0;
}

li {
	display: inline;
	padding: 0.5em;
}

/* comments here */