html {
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: #3FBFBF;
}

h1 {
	font-size: 60px;
	text-align: center;
	text-shadow: 1px 1px 10px black;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {
	background-color: #728C8C;
}

img {
  display: block;
  margin: 0 auto;
}

/* comments here */