html {
	font-size: 10px;
	font-family: 'Nunito Sans', sans-serif;
}

h1 {
	font-size: 100px;
	color: #FB4F4B;
	text-align: center;
}

p, li {
	color: #4A5455;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {

}

img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#nav {
	text-align: center;
	margin: 1%;
	background-color: #DBFAFB;
	padding: 0.5em 0;
}

li {
	display: inline;
	padding: 0.5em;
}

.showbox {
    float: left;
    margin: 4em 1em;
    width: 100px;
    height: 60px;
    border: 2px solid #98AEAE;
    background-color: #fff;
    line-height: 60px;
    text-align: center;

    transition: .1s ease-in-out;
  }

.showbox.slideright:hover {
    -webkit-transform: translate(3em,0) scale(2) rotate(30deg);
    -moz-transform: translate(3em,0) scale(2) rotate(30deg);
    -o-transform: translate(3em,0) scale(2) rotate(30deg);
    -ms-transform: translate(3em,0) scale(2) rotate(30deg);
    transform: translate(3em,0) scale(2) rotate(30deg);
  }

/* comments here */